{% extends "/build/index.html" %}

{% block content %}

<section class="section section-center-text">
        <div class="section-wrapper">
          <h2 class="section__header content-header">
            We’re on a mission to change that.
          </h2>
          <p>
            Greenpeace is trusted by millions of people around the world to care
            for the environment and help protect our planet for future
            generations.
          </p>
          <p><strong>Here's what your donation will do:</strong></p>
        </div>
      </section>

{% endblock %}
