<div>
  <p class="notice">Notes</p>
  <p>
    This is a secure webpage. Your personal details are protected at all times.
  </p>
  <hr />
  <p>
    Your personal information will be treated as strictly confidential and only
    used for communication purpose. Read our
    <a
      href="https://www.greenpeace.org/eastasia/privacy-and-cookies/"
      target="_blank"
      >privacy statement</a
    >.
  </p>
  <hr />
  <p>
    Donations made by credit card are processed instantly. A recurring monthly
    payment is set up and made around the 13th of every month. In the event a
    transaction fails, we will attempt to process the payment again and contact
    the donor if we continue to be unsuccessful.
  </p>
  <hr />
  <p>
    Donations over HK$100 are tax-deductible. Monthly donors will receive a
    digital annual receipt by email in April or May each year following the end
    of the financial year in March. Digital donation receipts are emailed
    instantly following all one-off donations. <br />
    <br /><br />
    Tax-Exempt Charity Ref No. : 91/5418
  </p>
</div>
