<div>
  <p class="notice">注意事項</p>
  <p>
    此捐款頁面採用了 SSL
    保安接層加密技術，可確保敏感資料（例如信用卡資料和個人資料）在您的瀏覽器和我們伺服器之間傳送時獲得保密處理。
  </p>
  <hr />
  <p>
    您的個人資料將絕對保密，僅用做捐款、會員服務及通訊等用途，請<a
      href="https://www.greenpeace.org/hongkong/policies/privacy-and-cookies/"
      target="_blank"
      >按此</a
    >。詳閱隱私保護政策。
  </p>
  <hr />
  <p>
    信用卡捐款會即時進行首次過數。每月捐款會員往後約於每月13日過數。如出現捐款失效的情況，有機會是系統連結上的間斷，因此系統將自動重新嘗試，如有需要，我們的會員服務部將與您聯繫確認。每月捐款授權於該信用卡有效期過後及獲發新卡後仍繼續生效，直至閣下另行通知。
  </p>
  <hr />
  <p>
    捐款港幣$100以上可申請扣稅。我們於每年3月31日財政年度完結時準備年度收據，並於4月至5月發送給每月捐款會員。如捐款屬於單次捐款，而捐款者於捐款時能夠提供有效的電郵地址，將會即時收到電子收據；沒有提供有效電郵地址者，將於捐款後6星期內收到我們發送的單次捐款收據。
    <br />
    <br />
    獲豁免繳稅慈善機構編號︰91/5418
  </p>
  <hr />
</div>

<!-- archived -->
<div>
  <p class="notice">注意事項</p>
  <p>
    此捐款頁面採用了 SSL
    保安接層加密技術，可確保敏感資料（例如信用卡資料和個人資料）在您的瀏覽器和我們伺服器之間傳送時獲得保密處理。
  </p>
  <hr />
  <p>
    收集所得的個人資料將絕對保密並只作和閣下聯絡用途！按此了解我們的
    <a
      href="https://www.greenpeace.org/hongkong/policies/privacy-and-cookies/"
      target="_blank"
      >私隱保護政策</a
    >。
  </p>
  <hr />
  <p>
    信用卡捐款會即時進行。每月捐款會員往後的捐款，將按照登記捐款日，固定於每月的相同日子進行過帳。出現捐款失效的情況，有機會是系統連結上的間斷，因此系統將自動重新嘗試，如有需要，我們的會員服務部將與您聯繫確認。
  </p>
  <hr />
  <p>
    捐款港幣$100以上可申請扣稅。我們於每年3月31日財政年度完結時準備年度收據，並於4月至5月發送給每月捐款會員。如捐款屬於單次捐款，而捐款者於捐款時能夠提供有效的電郵地址，將會即時收到電子收據；沒有提供有效電郵地址者，將於捐款後6星期內收到我們發送的單次捐款收據。
    <br />
    <br />
    獲豁免繳稅慈善機構編號︰91/5418
  </p>
  <hr />
</div>
