<div>
  <p class="notice">注意事項</p>
  <p>
    此捐款頁面採用了 SSL
    保安接層加密技術，可確保敏感資料（例如信用卡資料和個人資料）在您的瀏覽器和我們伺服器之間傳送時獲得保密處理。
  </p>
  <hr />
  <p>
    您的個人資料將絕對保密，僅用做捐款、會員服務及通訊等用途，請按此詳閱
    <a
      href="https://www.greenpeace.org/taiwan/policies/privacy-and-cookies/"
      target="_blank"
      >隱私保護政策</a
    >。
  </p>
  <hr />
  <p>
    信用卡捐款會即時進行。每月捐款會員的往後捐款，約於每月15日請款；若未能成功請款，有可能是系統或信用卡等出現問題，因此系統將自動重新嘗試，如有需要，會員服務部將會與您聯繫確認。
  </p>
  <hr />
  <p>
    若欲更新您的個人資料，或取消訂閱綠色和平環保資訊，請不吝聯繫<a
      href="mailto:donor.services.tw@greenpeace.org"
      >donor.services.tw@greenpeace.org</a
    >或致電會員服務專線 (02)2361-2025，專員將竭誠為您處理。 <br />
    <br />
    財團法人綠色和平基金會<br />
    統一編號：26324671<br />
    募款字號：110.09.30<br />
    衛部救字第1091363645號<br />
    環署綜字第1000044076號
  </p>
  <hr />
</div>
