@charset "utf-8";
.app {
  .footer {
    background-color: $gp-darkblue;
    color: $white;
    a {
      color: $white;
      text-decoration: underline;
      &:hover {
        color: $gp-green;
      }
    }
    .footer-wrapper {
      height: 100%;
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
      padding: 40px 20px;
    }
  }
  .footer {
    .oneoff-switcher {
      margin-top: 20px;
      margin-bottom: 40px;
      padding: 8px 16px;
    }
    .footer-upper {
      display: grid;
      grid-gap: 40px;
    }
    .footer__remarks {
      order: 1;
    }
    .footer__contents {
      order: 2;
    }
    @media (min-width: 36em) {
      .footer-row {
        grid-template-columns: 1fr 1fr;
      }
      .footer__remarks {
        order: 2;
      }
      .footer__contents {
        order: 1;
      }
    }
  }
  .footer__logo {
    margin-bottom: 20px;
    max-width: 240px;
  }
  .footer__language {
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 20px;
    a {
      color: $gray2;
      &:first-child {
        margin-right: 20px;
      }
      &:last-child {
        margin-left: 20px;
      }
    }
    .slds-border_bottom {
      color: $white;
      border: none;
    }
  }
  .footer__note {
  }
  .footer__link {
    margin: 40px 0;
    li {
      margin-bottom: 8px;
      margin-left: 0;
      display: flex;
      align-items: flex-start;
      flex-flow: column;
    }
  }
  .footer__remarks {
    hr {
      background: none;
      position: relative;
      margin: 0;
      padding: 20px 0;
      border: none;
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 10px;
        height: 2px;
        background-color: $gray4;
      }
    }
    .notice {
      display: none;
    }
  }
  .footer__secure {
    display: none;
  }
}
