@charset "utf-8";
.THIS {
  .header {
    height: 50px;
    background-color: $white;
    box-shadow: $shadow-button1;
    border-bottom: 1px solid $gp-green;
    &.header--green {
      background-color: $gp-green;
    }
    .header-wrapper {
      padding: 0px 20px;
      height: 100%;
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      .header-logo {
        img {
          padding: 2px;
          height: 28px;
        }
      }
      .header-buttons {
        display: none;
        position: absolute;
        right: 4px;
      }
    }
    @media (min-width: 576px) {
      border: none;
      .header-wrapper {
        justify-content: flex-start;
      }
    }
  }
}
