@charset "utf-8";
$black: #111111;
$gray1: #333333;
$gray2: #666666;
$gray3: #999999;
$gray4: #e0e0e0;
$white: #ffffff;
$gp-green: #66cc00;
$gp-orange: #ff9500;
$gp-darkblue: #292f47;
$gp-lightblue: #e6f5f5;
$gp-red: #ff3333;
$gp-arctic: #62cbd7;
$gp-health: #f96d8c;
$gp-climate: #ffbe00;
$gp-plastics: #afaa91;
$gp-forests: #00b474;
$gp-oceans: #008fe2;
$shadow-button1: 0px 2px 4px rgba(50, 50, 71, 0.06),
  0px 2px 2px rgba(50, 50, 71, 0.06);
$shadow-button2: 0px 4px 8px rgba(50, 50, 71, 0.06),
  0px 4px 4px rgba(50, 50, 71, 0.08);
$shadow-card1: 0px 8px 16px rgba(50, 50, 71, 0.06),
  0px 8px 8px rgba(50, 50, 71, 0.08);
$shadow-card2: 0px 16px 24px rgba(50, 50, 71, 0.08),
  0px 12px 12px rgba(50, 50, 71, 0.08);
//
@import "./scss/global/index.scss";
@import "./scss/spinner", "./scss/overrideSLDS", "./scss/donation",
  "./scss/donor", "./scss/thankyou", "./scss/language", "./scss/main";
@import "./scss/components/index.scss";
@import "./scss/plugins/tailwindcss-typography_plugin.css";

.THIS {
  .prose {
    max-width: none !important;
    img {
      margin: 0;
      padding: 0;
    }
  }
}
