@charset "utf-8";
$black: #111111;
$gray1: #333;
$gray2: #666;
$gray3: #999;
$gray4: #e0e0e0;
$white: #fff;
$gp-green: #66cc00;
$gp-darkblue: #292f47;
$gp-orange: #ff9500;
$gp-red: #f66;
$gp-warning: #f66;
$gp-arctic: #62cbd7;
$gp-health: #f96d8c;
$gp-climate: #ffbe00;
$gp-plastics: #afaa91;
$gp-forests: #00b474;
$gp-oceans: #008fe2;
$shadow-card1: 0px 24px 32px rgba(50, 50, 71, 0.08),
  0px 16px 16px rgba(50, 50, 71, 0.08);
$shadow-card2: 0px 32px 40px rgba(50, 50, 71, 0.1),
  0px 20px 20px rgba(50, 50, 71, 0.1);
$shadow-button1: 0px 2px 4px rgba(50, 50, 71, 0.06),
  0px 2px 2px rgba(50, 50, 71, 0.06);
$shadow-button2: 0px 4px 8px rgba(50, 50, 71, 0.06),
  0px 4px 4px rgba(50, 50, 71, 0.08);
@import "./scss/header", "./scss/footer", "./scss/overrideSLDS",
  "./scss/donation", "./scss/donor", "./scss/thankyou", "./scss/language";
@import "./scss/blocks/index.scss";
//
.THIS {
  section {
    position: relative;
  }
  .loading--overlay {
    z-index: 999;
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
      max-width: 200px;
    }
  }
  .main-wrapper {
    margin-bottom: -20vw;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &.main-wrapper_left {
      align-items: flex-start;
    }
    &.main-wrapper_center {
      align-items: center;
    }
    &.main-wrapper_right {
      align-items: flex-end;
    }
    @media (min-width: 992px) {
      margin-bottom: 0;
    }
  }
  .main-bg {
    z-index: -1;
    position: relative;
    background: $gray4;
    img {
      width: 100%;
    }
    @media (min-width: 992px) {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      &.main-bg_center {
        background-position: center center;
      }
      &.main-bg_left {
        background-position: center left;
      }
      &.main-bg_right {
        background-position: center right;
      }
    }
  }
  .main-visual_desktop {
    display: none;
    @media (min-width: 992px) {
      display: block;
    }
  }
  .main-visual_mobile {
    display: none;
    @media (max-width: 991.98px) {
      display: block;
    }
  }
}
