@charset "utf-8";
@import "./scss/utilities/common";
//
@import "./scss/global/index", "./scss/spinner", "./scss/overrideSLDS",
  "./scss/donation", "./scss/donationDonor", "./scss/donationThankyou",
  "./scss/overrideLanguage", "./scss/main";
@import "./scss/components/index";
//
.THIS {
  .prose {
    max-width: none !important;
    img {
      margin: 0;
      padding: 0;
    }
  }
}
.THIS {
  .text--arctic {
    color: $gp-arctic !important;
  }
  .text--health {
    color: $gp-health !important;
  }
  .text--climate {
    color: $gp-climate !important;
  }
  .text--forests {
    color: $gp-forests !important;
  }
  .text--oceans {
    color: $gp-oceans !important;
  }
  .text--plastics {
    color: $gp-plastics !important;
  }
}
