/*
.THIS {
  .section.section-center-text .section-wrapper {
    margin: 0 auto;
    padding: 80px 20px;
    text-align: center;
    @media (min-width: 992px) {
      min-height: 400px;
      padding: 100px 40px;
      max-width: 780px;
    }
    h2 {
      margin-top: 0;
    }
  }
}
*/
