.THIS {
  .section-impacts {
    .swiper-wrapper {
      display: flex;
      align-items: flex-end;
    }
    .swiper-slide {
      opacity: 1 !important;
      box-shadow: none !important;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        max-height: 350px;
      }
    }
    .swiper-button-prev,
    .swiper-button-next {
      display: none;
    }
    .swiper-pagination {
      display: none;
    }
  }
  .impact {
    position: relative;
    .impact__tag {
    }
    .impact__title {
      color: $gray1;
      display: flex;
      align-items: center;
    }
  }
}
