.THIS {
  .section-impacts {
    .swiper-wrapper {
      display: flex;
      align-items: flex-end;
    }
    .swiper-slide {
      opacity: 1;
    }
    .section__header p {
      display: none;
    }
  }
  .impact {
    position: relative;
    .impact__tag {
      font-weight: bold;
    }
    .impact__title {
      color: $gray1;
      display: flex;
      align-items: center;
    }
  }
}
