.THIS {
  .section-issues {
    background-color: $gp-lightblue;
    .swiper-slide {
      opacity: 1 !important;
    }
  }
  .issue {
    margin: 0;
    height: 100%;
    width: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    @media (min-width: 62em) {
      flex-direction: row;
    }
    .issue__header {
      padding: 20px;
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      @media (min-width: 62em) {
        padding: 40px 20px;
      }
      h2 {
        font-weight: bold;
        text-transform: uppercase;
      }
      p {
        margin: 20px auto;
      }
    }
    .issue__image {
      flex: 1;
      min-height: 220px;
      background-color: $gray4;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      img {
        display: none;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    &.issue--plastics .issue__header h2 {
      color: $gp-plastics;
    }
    &.issue--arctic .issue__header h2 {
      color: $gp-arctic;
    }
    &.issue--health .issue__header h2 {
      color: $gp-health;
    }
    &.issue--climate .issue__header h2 {
      color: $gp-climate;
    }
    &.issue--forests .issue__header h2 {
      color: $gp-forests;
    }
    &.issue--oceans .issue__header h2 {
      color: $gp-oceans;
    }
  }
}
