.THIS {
  .section-testimonials {
    padding-bottom: 20px;
    .swiper-slide {
      max-width: 780px;
    }
  }
  .testimonial {
    min-height: 350px;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .testimonial__quote {
      position: relative;
      margin: 20px auto;
      font-size: 16px;
    }
    .testimonial__profile {
      margin-bottom: 20px;
      .testimonial__avatar {
        img {
          width: 96px;
          height: 96px;
          @media (min-width: 992px) {
            height: 120px;
            width: 120px;
          }

          margin: 0 auto;
          object-fit: cover;
          border-radius: 99px;
        }
      }
      .testimonial__person {
        .person-name {
        }
        .person-description {
        }
      }
    }
  }
}
