.THIS {
  .section-testimonials {
    padding-bottom: 20px;
    .swiper-slide {
      max-width: 480px;
    }
  }
  .testimonial {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .testimonial__quote {
      position: relative;
      margin: 0 auto;
      font-size: 16px;
      min-height: 144px;
      display: flex;
      align-items: center;
      text-align: center;
      .quote-text {
        font-size: 0.8rem;
      }
    }
    .testimonial__profile {
      .testimonial__avatar {
        img {
          width: 96px;
          height: 96px;
          @media (min-width: 992px) {
            height: 120px;
            width: 120px;
          }
          margin: 0 auto;
          object-fit: cover;
          border-radius: 99px;
        }
      }
      .testimonial__person {
        .person-name {
        }
        .person-description {
        }
      }
    }
  }
}
