@import "./swiper", "./center-text", "./impacts", "./issues", "./mixed-content",
  "./testimonials";

.THIS {
  .section {
    position: relative;
    .section-wrapper {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .section__header {
      position: relative;
      text-align: center;
      max-width: 780px;
      h2 {
        font-weight: bold;
        color: $gray1;
        margin-bottom: 16px;
      }
      p {
        color: $gray3;
      }
    }
    &.section_bg-white {
      background-color: $white;
    }
    &.section_bg-darkblue {
      background-color: $gp-darkblue;
      color: $white;
    }
    &.section_bg-lightblue {
      background-color: $gp-lightblue;
    }
  }
}

.THIS {
  .card {
    background-color: $white;
    border-radius: 8px;
    box-shadow: $shadow-card1;
    transition: box-shadow 0.2s ease;
    overflow: hidden;
    &:hover {
      box-shadow: $shadow-card2;
    }
  }
}
