@charset "utf-8";
@import "../utilities/common";
//
@import "./swiper", "./center-text", "./impacts", "./issues", "./mixed-content",
  "./testimonials", "./finance";
//
.THIS {
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .margin-middle {
    margin: 0 auto 0 auto;
  }
  hr.line {
    border-color: $gray4;
    border: none;
    display: block;
    height: 1px;
    margin: 1rem 0;
  }
}
.THIS {
  .card {
    background-color: $white;
    border-radius: 8px;
    box-shadow: $shadow-card1;
    overflow: hidden;
  }
}
.THIS {
  .section {
    position: relative;
    width: 100%;
    padding: 0;
    overflow: hidden;
    .section-wrapper {
      width: 100%;
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .section-wrapper .section__header {
      position: relative;
      text-align: center;
      max-width: 780px;
      margin-bottom: 20px;
    }
    &.section_bg-white {
      background-color: $white;
    }
    &.section_bg-darkblue {
      background-color: $gp-darkblue;
      color: $white;
    }
    &.section_bg-lightblue {
      background-color: $gp-lightblue;
    }
  }
}
