@charset "utf-8";
@import "../utilities/common";
//
@import "./swiper", "./center-text", "./impacts", "./issues", "./mixed-content",
  "./testimonials", "./finance";
//
.THIS {
  .section {
    padding: 0;
    overflow: hidden;
  }
}
.THIS {
  .card {
    background-color: $white;
    border-radius: 8px;
    box-shadow: $shadow-card1;
    transition: box-shadow 0.2s ease;
    overflow: hidden;
    &:hover {
      box-shadow: $shadow-card2;
    }
  }
}

.THIS {
  .section {
    position: relative;
    width: 100%;
    overflow-x: hidden;
    .section-wrapper {
      width: 100%;
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .section-wrapper .section__header {
      position: relative;
      text-align: center;
      max-width: 780px;
      margin-bottom: 20px;
      h2 {
        letter-spacing: 2px;
        color: $gray1;
        margin-bottom: 20px;
      }
      p {
        letter-spacing: 1px;
        font-size: 1rem;
        margin-bottom: 20px;
        color: $gray3;
      }
    }
    &.section_bg-white {
      background-color: $white;
    }
    &.section_bg-darkblue {
      background-color: $gp-darkblue;
      color: $white;
    }
    &.section_bg-lightblue {
      background-color: $gp-lightblue;
    }
  }
}
