.THIS {
  .section-mixed-content {
    display: flex;
    background-color: $gp-darkblue;
    .box-visual {
      width: 100%;
      height: 100%;
    }
    .swiper-container--mixed {
      position: relative;
      width: 100%;
      height: 100%;
      .swiper-slide {
        padding: 0 !important;
        margin: 0 !important;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
      .swiper-pagination-bullets {
        position: absolute;
        height: 16px;
        width: 100%;
        left: 0;
        top: 8px;
        display: flex;
        align-items: center;
      }
      .swiper-pagination-bullet {
        display: inline-block;
        width: auto;
        flex: 1;
        background-color: white;
        opacity: 0.3;
        height: 4px;
        border-radius: 4px;
        &:only-child {
          display: none;
        }

        &:first-child {
          margin-left: 20px;
        }

        &:last-child {
          margin-right: 20px;
        }

        &.swiper-pagination-bullet-active {
          opacity: 1;
        }
      }
    }
  }
}
