.swiper-pagination-bullets {
  top: -16px;
}
.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: $gray3;
  cursor: pointer;
  &.swiper-pagination-bullet-active {
    background-color: $gp-green;
  }
}
