@charset "utf-8";
// ------ Black & white -----
$black: #000 !default;
$white: #fff !default;
$blue: #108ee9;
// ------ Grays ------
$gray0: rgba($black, 0.85);
$gray1: rgba($black, 0.65);
$gray2: #666666;
$gray3: #999999;
$gray4: #e5e5e5;
// -------- Primary ------
$gp-green: #66cc00;
$gp-orange: #ff8100;
$gp-darkblue: #292f47;
// $gp-lightblue: #e6f5f5;
$gp-lightblue: #f4f9fa;
$gp-red: #ff3333;
// ------ Campaigns ------
$gp-arctic: #62cbd7;
$gp-health: #f96d8c;
$gp-climate: #ffbe00;
$gp-plastics: #afaa91;
$gp-forests: #00b474;
$gp-oceans: #008fe2;
// ------ Shadows ------
$shadow-button: 0px -1px 1px rgba(0, 0, 0, 0.12),
  0px 2px 5px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.08);
$shadow-button1: 0px 2px 4px rgba(50, 50, 71, 0.06),
  0px 2px 2px rgba(50, 50, 71, 0.06);
$shadow-button2: 0px 4px 8px rgba(50, 50, 71, 0.06),
  0px 4px 4px rgba(50, 50, 71, 0.08);
$shadow-card1: 0px 8px 16px rgba(50, 50, 71, 0.06),
  0px 8px 8px rgba(50, 50, 71, 0.08);
$shadow-card2: 0px 16px 24px rgba(50, 50, 71, 0.08),
  0px 12px 12px rgba(50, 50, 71, 0.08);
$shadow-topbottom-white: linear-gradient(
  to bottom,
  rgba(255, 255, 255, 1),
  rgba(255, 255, 255, 0)
);
//
.text--arctic {
  color: $gp-arctic !important;
}
.text--health {
  color: $gp-health !important;
}
.text--climate {
  color: $gp-climate !important;
}
.text--forests {
  color: $gp-forests !important;
}
.text--oceans {
  color: $gp-oceans !important;
}
.text--plastics {
  color: $gp-plastics !important;
}
