.THIS {
  .center-text__content {
    width: 90%;
    max-width: 780px;
    margin: 0 auto;
    min-height: 350px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .content-header {
      font-size: 2rem;
      line-height: 1.2;
      font-weight: bold;
    }
    .content-text {
      margin: 20px auto;
      p {
        font-size: 1rem;
      }
      p + p {
        margin-top: 20px;
      }
    }
  }
}
