.THIS {
  .center-text__content {
    width: 90%;
    max-width: 780px;
    margin: 0 auto;
    padding: 20px;
    min-height: 20vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .content-header {
      font-size: 2rem;
      line-height: 1.2;
      font-weight: bold;
      margin-bottom: 20px;
    }
    .content-text {
      font-size: 1rem;
      margin: 20px auto;
    }
  }
}
