.THIS {
  .section-impacts {
    .swiper-slide {
      max-width: 580px;
    }
  }
  .impact {
    position: relative;
    .impact__tag {
      margin-top: 4px;
      font-size: 1rem;
      color: $gray3;
      line-height: 2;
    }
    .impact__title {
      font-size: 1.2rem;
      color: $gray1;
    }
  }
}
