.THIS {
  .section-impacts {
    .swiper-wrapper {
      display: flex;
      align-items: flex-end;
    }
    .swiper-slide {
      max-width: 700px;
      opacity: 1;
    }
    .section__header p {
      display: none;
    }
  }
  .impact {
    position: relative;
    .impact__tag {
      font-size: 1rem;
      font-weight: bold;
    }
    .impact__title {
      font-size: 1rem;
      color: $gray1;
      padding: 20px 0;
      display: flex;
      align-items: center;
      h3 {
        flex: 1;
      }
      span {
        align-self: flex-end;
        padding: 10px 0 0px 20px;
        font-size: 14px;
      }
    }
  }
}
