.THIS {
  .issue {
    display: flex;
    flex-direction: column;
    @media (min-width: 992px) {
      margin: 20px;
      flex-direction: row;
    }
    .issue__header {
      min-height: 250px;
      flex: 2;
      padding: 40px 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      h2 {
        font-size: 1.8rem;
        font-weight: bold;
        text-transform: uppercase;
      }
      p {
        font-size: 0.8rem;
        margin: 10px auto;
      }
    }
    .issue__image {
      flex: 3;
      background-color: #eee;
    }
  }
}
