.THIS {
  .section-issues {
    .swiper-slide {
      opacity: 1;
    }
  }
  .issue {
    min-height: 350px;
    display: flex;
    flex-direction: column;
    @media (min-width: 992px) {
      flex-direction: row;
    }
    .issue__header {
      flex: 2;
      padding: 40px 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      h2 {
        font-size: 32px;
        font-weight: bold;
        text-transform: uppercase;
      }
      p {
        font-size: 14px;
        margin: 20px auto;
      }
    }
    .issue__image {
      flex: 3;
    }
    &.issue--arctic .issue__header h2 {
      color: $gp-arctic;
    }
    &.issue--health .issue__header h2 {
      color: $gp-health;
    }
    &.issue--climate .issue__header h2 {
      color: $gp-climate;
    }
    &.issue--forests .issue__header h2 {
      color: $gp-forests;
    }
    &.issue--oceans .issue__header h2 {
      color: $gp-oceans;
    }
  }
}
