.THIS {
  .section-mixed-content {
    display: flex;
    background-color: $gp-darkblue;
    margin-bottom: 4vw;
    .boxes {
      color: $white;
      width: 100%;
      display: flex;
      flex-direction: column;
      @media (min-width: 992px) {
        flex-direction: row;
      }
    }
    .box {
      min-height: 350px;
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      @media (min-width: 992px) {
        min-height: 400px;
      }
    }
    .box-content {
      padding: 40px 20px;
      @media (min-width: 992px) {
        padding: 80px 40px;
      }
      .box-header {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
      }
      .box-text {
        font-size: 16px;
      }
    }
    .box-visual {
      height: 100%;
      width: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("https://storage.googleapis.com/planet4-hongkong-stateless/2019/07/421e9fb5-gp0stqei4_medium_res.jpg");
    }
  }
}
