.THIS {
  .swiper-container {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: visible;
  }
  .swiper-wrapper {
    height: auto;
    position: relative;
  }
  .swiper-container .swiper-slide,
  .swiper-container .swiper-pagination,
  .swiper-container [class^="swiper-button-"] {
    transition: box-shadow 140ms linear, opacity 140ms linear,
      filter 140ms linear, transform 140ms linear,
      -webkit-box-shadow 140ms linear, -webkit-filter 140ms linear,
      -webkit-transform 140ms linear;
  }
  // Hide the pagination and button
  .swiper-pagination-bullet:only-child {
    display: none;
  }
  @media (max-width: 575.98px) {
    .swiper-pagination,
    .swiper-button-next,
    .swiper-button-prev {
      display: none !important;
    }
  }
}

.THIS {
  .swiper-slide {
    width: 90%;
    max-width: 780px;
  }
}

.THIS {
  .swiper-button-next,
  .swiper-button-prev {
    background-image: none;
    background-color: white;
    border-radius: 99px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
    transition: all 140ms linear;
    &:hover,
    &:focus {
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
    }

    &:active {
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3);
    }
    span {
      color: $gp-green;
      font-size: 45px;
    }

    &.swiper-button-disabled {
      opacity: 0;
      pointer-events: none;
    }
  }
}
