.THIS {
  .testimonial {
    max-width: 780px;
    text-align: center;
    .testimonial__quote {
      position: relative;
      padding: 40px 60px;
      .quote-text {
        font-size: 1rem;
        text-align: justify;
      }
    }
    .testimonial__avatar {
      img {
        height: 110px;
        width: 110px;
        margin: 0 auto 8px;
        object-fit: cover;
        border-radius: 99px;
      }
    }
    .testimonial__person {
      padding-bottom: 20px;
      .person-name {
        color: $gray1;
        font-size: 1rem;
      }
      .person-description {
        color: $gray2;
        font-size: 0.8rem;
      }
    }
  }
}
