.THIS {
  .testimonial {
    max-width: 780px;
    text-align: center;
    padding: 20px;
    .testimonial__quote {
      position: relative;
      max-width: 580px;
      margin: 20px auto;
      .quote-text {
        font-size: 1rem;
      }
    }
    .testimonial__avatar {
      padding-top: 20px;
      img {
        height: 100px;
        width: 100px;
        margin: 0 auto 8px;
        object-fit: cover;
        border-radius: 99px;
      }
    }
    .testimonial__person {
      .person-name {
        color: $gray1;
        font-size: 1rem;
      }
      .person-description {
        color: $gray2;
        font-size: 14px;
        margin: 8px auto;
      }
    }
  }
}
