.THIS {
  .testimonial {
    min-height: 350px;
    max-width: 780px;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $gray2;
    .testimonial__quote {
      position: relative;
      margin: 20px auto;
      font-size: 16px;
    }
    .testimonial__profile {
      margin-bottom: 20px;
      .testimonial__avatar {
        img {
          height: 96px;
          width: 96px;
          margin: 0 auto;
          object-fit: cover;
          border-radius: 99px;
        }
      }
      .testimonial__person {
        margin-top: 8px;
        .person-name {
          font-size: 14px;
          margin: 0 auto;
          letter-spacing: 1px;
        }
        .person-description {
          font-size: 12px;
        }
      }
    }
  }
}
