@import "./center-text", "./impacts", "./issues", "./mixed-content",
  "./testimonials";
//
.THIS {
  .card {
    border-radius: 8px;
    box-shadow: $shadow-card1;
    overflow: hidden;
    transition: box-shadow 0.2s ease-in;
    &:hover {
      box-shadow: $shadow-card2;
    }
  }
  .img_fit {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.THIS {
  .swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    width: auto;
  }

  .swiper-pagination {
  }
  .swiper-button-prev,
  .swiper-button-next {
    background-image: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
    border: 3px solid $gp-green;
    transform: rotate(45deg);
    &:after {
      display: none;
    }
  }
  .swiper-button-prev {
    border-top: none;
    border-right: none;
  }
  .swiper-button-next {
    border-bottom: none;
    border-left: none;
  }
  .swiper-container .swiper-slide,
  .swiper-container .swiper-pagination,
  .swiper-container [class^="swiper-button-"] {
    transition: box-shadow 140ms linear, opacity 140ms linear,
      filter 140ms linear, transform 140ms linear,
      -webkit-box-shadow 140ms linear, -webkit-filter 140ms linear,
      -webkit-transform 140ms linear;
  }
}
.THIS {
  section {
    .section-wrapper {
      max-width: 1440px;
      margin-left: auto;
      margin-right: auto;
      padding: 40px 0;
      &.padding-responsive {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
    .section__header {
      max-width: 780px;
      margin: 0 auto;
      text-align: center;
      h2 {
        font-size: 1.5rem;
        font-weight: bold;
        line-height: 1.2;
        margin-bottom: 10px;
      }
      p {
        font-size: 1rem;
      }
    }
  }
}
