@import "./swiper", "./center-text", "./impacts", "./issues", "./mixed-content",
  "./testimonials";
//

.THIS {
  .section {
    color: $gray1;
    .section-wrapper {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
      padding: 40px 20px;
    }
    .section__header {
      width: 90%;
      max-width: 960px;
      margin: 0 auto;
      text-align: center;
      h2 {
        font-size: 24px;
        font-weight: bold;
      }
      p {
        font-size: 16px;
        margin: 10px auto;
      }
    }
    &.section_bg-white {
      background-color: $white;
    }
    &.section_bg-gray {
      background-color: $gray4;
    }
    &.section_bg-darkblue {
      background-color: $gp-darkblue;
      color: #fff;
    }
    &.section_bg-lightblue {
      background-color: $gp-lightblue;
    }
  }
}

.THIS {
  .card {
    background-color: $white;
    border-radius: 8px;
    box-shadow: $shadow-card1;
    transition: box-shadow 0.2s ease;
    overflow: hidden;
    &:hover {
      box-shadow: $shadow-card2;
    }
  }
  .img_fit {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
