.THIS {
  .form__details-issues {
    margin-top: 20px;
    margin-bottom: 10px;
    .issues {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-content: space-around;
      > div {
        margin: 8px 4px;
        color: #ccc;
        border: 1px solid #ccc;
        border-radius: 30px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.1s ease-in;
        .title {
          font-size: 14px;
          text-align: center;
        }
        &:hover {
          border: 1px solid $gp-green;
          color: $gp-green;
        }
        &.selected {
          border: 1px solid $gp-green;
          color: $gp-green;
          font-weight: bold;
        }
      }
    }
  }
}

/* Donor Information */
