.app {
  form {
    margin: 0;
    padding: 0;
    position: relative;
    transition-property: opacity, transform;
    transition-duration: 0.25s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    a,
    button,
    input,
    select,
    textarea {
      -webkit-tap-highlight-color: transparent;
      appearance: none;
      border: none;
      box-shadow: none;
      background: none;
      outline: none;
      font-family: inherit;
    }
  }
}

.app {
  .slds-form-element__label {
    text-align: left;
    font-size: 0.875rem;
    color: $gray2;
    vertical-align: top;
    padding-top: 0.625rem;
    letter-spacing: normal;
    line-height: 1.25rem;
    abbr.slds-required {
      display: none;
      color: $gp-red;
      position: absolute;
      right: -2px;
      top: 2px;
      text-decoration: none;
    }
  }
  .slds-form-element__help {
    font-size: 0.75rem;
    color: $gp-red;
    margin-top: 4px;
    text-align: left;
  }
  .slds-input,
  .slds-select {
    appearance: none;
    outline: none;
    width: 100%;
    max-width: 100%;
    line-height: 1.5;
    font-size: 16px;
    position: relative;
    background-color: $white;
    border: 1px solid transparent;
    border-color: $gray4;
    border-radius: 4px;
    position: relative;
    height: 2.5em;
    padding-bottom: calc(0.5em - 1px);
    padding-left: calc(0.75em - 1px);
    padding-right: calc(0.75em - 1px);
    padding-top: calc(0.5em - 1px);
    box-shadow: inset 0 0.0625em 0.125em rgba(10, 10, 10, 0.05);
    &:focus,
    &:active {
      border-color: $gp-green !important;
      box-shadow: 0 0 0 0.0125em rgba(102, 204, 0, 0.25);
    }
  }
  .slds-has-error {
    .slds-input,
    .slds-select {
      border: 1px solid $gp-red;
    }
  }
}

.app {
  .amount-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    .subtext {
      margin: 0;
      min-width: 140px;
    }
  }
  .payment-details {
    padding: 4px 16px;
    background-color: $gray4;
    color: $gray1;
    border-radius: 4px;
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover {
      border: 1px solid $gray3;
    }
    @media (max-width: 575.98px) {
      margin-top: 8px;
    }
  }
  .payment-details--frequency {
    margin-right: 4px;
  }
  .payment-details--separator {
    height: 20px;
    width: 1px;
    margin: 0 6px;
    background-color: $gray3;
  }
  .payment-details--currency {
    margin-right: 4px;
  }
}
