.THIS {
  .footer {
    font-size: 14px;
    background: #292f47;
    color: $white;
    a {
      color: $white;
      text-decoration: underline;
      &:hover {
        color: #fff;
      }
    }
    .footer-wrapper {
      height: 100%;
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
      padding: 40px 20px;
    }
  }
  .footer {
    .footer-upper {
      display: grid;
      grid-gap: 20px;
    }
    .footer__remarks {
      order: 1;
    }
    .footer__contents {
      order: 2;
    }
    @media (min-width: 576px) {
      .footer-row {
        grid-template-columns: 1fr 1fr;
      }
      .footer__remarks {
        order: 2;
      }
      .footer__contents {
        order: 1;
      }
    }
  }
  .footer {
    hr {
      background: none;
      position: relative;
      margin: 0;
      padding: 20px 0;
      border: none;
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-25%);
        width: 24px;
        height: 1px;
        background-color: $gray4;
      }
    }
    .notice {
      display: none;
      font-size: 18px;
      margin-bottom: 20px;
      font-weight: bold;
    }
  }

  .footer {
    .footer__logo {
      margin-bottom: 20px;
      img {
        padding: 4px;
        width: 100%;
        max-width: 240px;
      }
    }
    .footer__note {
      max-width: 480px;
    }
    .footer__link {
      margin: 20px 0;
      li {
        margin-bottom: 4px;
        margin-left: 0;
        display: flex;
        align-items: flex-start;
        flex-flow: column;
      }
    }
    .footer__credit {
    }
    .footer__secure {
      display: none;
    }
  }
}
