.app {
  .payment-details {
    display: none;
  }
  .slds-assistive-text {
    display: none;
  }

  .label-hidden.slds-form-element > label {
    display: none;
  }

  .checkbox-label {
    cursor: pointer;
    flex: 1;
  }

  .border-none,
  .border-none .slds-form-element__control {
    border: none;
  }

  .donate-in-honor .slds-checkbox_faux {
    margin-top: 4px;
  }

  .slds-spinner--brand.slds-spinner:after,
  .slds-spinner--brand.slds-spinner:before,
  .slds-spinner--brand .slds-spinner__dot-a:after,
  .slds-spinner--brand .slds-spinner__dot-a:before,
  .slds-spinner--brand .slds-spinner__dot-b:after,
  .slds-spinner--brand .slds-spinner__dot-b:before,
  .slds-spinner_brand.slds-spinner:after,
  .slds-spinner_brand.slds-spinner:before,
  .slds-spinner_brand .slds-spinner__dot-a:after,
  .slds-spinner_brand .slds-spinner__dot-a:before,
  .slds-spinner_brand .slds-spinner__dot-b:after,
  .slds-spinner_brand .slds-spinner__dot-b:before {
    background-color: $gp-green !important;
  }
  .slds-spinner_container .slds-icon_large {
    width: 4.5rem !important;
    height: 4.5rem !important;
  }

  .slds-spinner_container .slds-icon-text-success {
    fill: $gp-green !important;
  }

  .slds-spinner_container .slds-icon-text-error {
    fill: $gp-red !important;
  }

  .pageLevelErrors {
    display: none;
  }
  .slds-select_container:before {
    display: none;
  }
  .slds-select_container:after {
    border-top: 6px solid $gray3;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    right: 16px;
    bottom: 50%;
    transform: translateY(50%);
  }
  .slds-checkbox .slds-checkbox__label {
    display: flex;
    align-items: flex-start;
  }
  .slds-has-error .slds-select:focus,
  .slds-has-error .slds-select:active {
    box-shadow: none !important;
  }
  .slds-select_container {
    width: 100%;
    display: flex;
  }
  .consent .slds-form-element__control {
    border: none;
  }
}

.cGPEAPhoneInput {
  .slds-select_container:after {
    right: 8px;
  }
}

.cDonationCreditCardInput {
  > .col {
    position: relative;
  }
  .card-icon {
    position: absolute;
    width: 24px;
    height: 16px;
    background-color: none;
    border-radius: 2px;
    right: 20px;
    top: 50%;
    transform: translateY(25%);
    img {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
    }
  }
  .slds-has-error ~ .card-icon {
    transform: translateY(-44%);
  }
}

.cSignaturePad {
  position: relative;
  margin-bottom: 10px;
  .slds-button {
    position: absolute;
    right: 24px;
    top: 8px;
  }
}
