// DD General
.THIS {
  &.donate-dd {
    .form__amount-button.form__amount-other-button .amount {
      font-size: 10px;
    }
    .form__amount-button.form__amount-other-button {
      background-color: white;
      height: auto;
      margin-top: 10px;
      color: rgb(153, 153, 153);
    }
    .form__share {
      display: none;
    }
  }
}
// HK General
.THIS {
  &.zh_HK,
  &.en_HK {
    .share-button_line {
      display: none;
    }
    .social_line {
      display: none;
    }
  }
}
// TW General
.THIS {
  &.zh_TW {
    .form__amount-button {
      font-size: 14px;
      @media (min-width: 62em) {
        font-size: 16px;
      }
    }
    .form__amounts {
      .currency {
        font-size: 10px;
        @media (min-width: 62em) {
          font-size: 14px;
        }
      }
      .amount {
        margin-left: 4px;
        margin-right: 4px;
      }
    }
    .share-button_whatsapp {
      display: none;
    }
    .footer__language {
      display: none !important;
    }
  }
}
