.THIS {
  .payment-details {
    display: none;
  }
}

.THIS {
  .label-hidden.slds-form-element > label {
    display: none;
  }

  .checkbox-input {
    min-width: 25px;
    width: 25px !important;
  }

  .checkbox-label {
    cursor: pointer;
    flex: 1;
  }

  .border-none,
  .border-none .slds-form-element__control {
    border: none;
  }

  .donate-in-honor .slds-checkbox_faux {
    margin-top: 4px;
  }

  .slds-spinner--brand.slds-spinner:after,
  .slds-spinner--brand.slds-spinner:before,
  .slds-spinner--brand .slds-spinner__dot-a:after,
  .slds-spinner--brand .slds-spinner__dot-a:before,
  .slds-spinner--brand .slds-spinner__dot-b:after,
  .slds-spinner--brand .slds-spinner__dot-b:before,
  .slds-spinner_brand.slds-spinner:after,
  .slds-spinner_brand.slds-spinner:before,
  .slds-spinner_brand .slds-spinner__dot-a:after,
  .slds-spinner_brand .slds-spinner__dot-a:before,
  .slds-spinner_brand .slds-spinner__dot-b:after,
  .slds-spinner_brand .slds-spinner__dot-b:before {
    background-color: $gp-green !important;
  }
  .slds-spinner_container .slds-icon_large {
    width: 4.5rem !important;
    height: 4.5rem !important;
  }

  .slds-spinner_container .slds-icon-text-success {
    fill: $gp-green !important;
  }

  .slds-spinner_container .slds-icon-text-error {
    fill: $gp-red !important;
  }
}

.THIS {
  .pageLevelErrors {
    display: none;
  }
  .slds-select_container:before {
    display: none;
  }
  .slds-select_container:after {
    border-top: 6px solid $gray3;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    right: 16px;
    bottom: 50%;
    transform: translateY(50%);
  }
  // slds select
  .slds-form-element__label {
    padding-left: 4px;
    font-size: 12px;
    color: $gray2;
    position: relative;
    abbr.slds-required {
      display: none;
      color: $gp-red;
      position: absolute;
      right: -2px;
      top: 2px;
      text-decoration: none;
    }
  }
  // slds label
  .slds-form-element__help {
    font-size: 10px;
    color: $gp-red;
    text-align: left;
    padding-left: 4px;
  }
  .slds-checkbox .slds-checkbox__label {
    display: flex;
    align-items: flex-start;
  }
  .slds-form-element__control {
    border: 1px solid $gray4;
    border-radius: 4px;
    position: relative;
    transition: all 0.2s ease;
    display: flex;
    &:hover {
      border: 1px solid $gp-green;
    }
  }
  .slds-has-error .slds-select:focus,
  .slds-has-error .slds-select:active {
    box-shadow: none !important;
  }
  .slds-has-error .slds-form-element__control {
    border: 1px solid $gp-red;
  }
  .slds-select_container {
    width: 100%;
    display: flex;
  }
  .slds-input,
  .slds-select {
    height: auto;
    display: block;
    width: 100%;
    height: 40px;
    border: none;
    box-shadow: none !important;
    padding-left: 16px;
    font-size: 16px;
  }
  .consent .slds-form-element__control {
    border: none;
  }
}

.THIS {
  .cGPEAPhoneInput {
    .slds-select_container:after {
      right: 8px;
    }
  }
}

.THIS {
  .cSignaturePad {
    position: relative;
    margin-bottom: 10px;
    .slds-button {
      position: absolute;
      right: 24px;
      top: 8px;
    }
  }
}

.THIS {
  .cDonationCreditCardInput:first-child {
    position: relative;
    margin-bottom: 0px !important;
    .card-number {
      margin-bottom: 16px;
    }
    .card-icon {
      padding-top: 6px;
      position: absolute;
      right: 1.5rem;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .slds-form-element__help {
      position: absolute;
      left: 0;
      bottom: -16px;
    }
  }
}
