.app {
  .donate-list-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: baseline;
    // margin: 16px auto;
  }

  .choose-amount {
    margin-top: 8px;
    font-size: 1rem !important;
    color: $gray2;
  }

  .donate-list-item-active {
    background: $gp-lightblue;
    border-radius: 4px;
  }

  .donate-list-item-active {
    .donate-price,
    .donate-currency,
    .donate-unit,
    .donate-desc {
      color: #66cc00 !important;
    }
  }

  .donate-list-item {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    padding: 16px 8px 12px;
  }
  .donate-list-item + .donate-list-item {
    margin-top: 12px;
  }

  .donate-price {
    font-family: "Montserrat", "Open Sans", Roboto, "Helvetica Neue", Arial,
      sans-serif; // Font to display number
    font-size: 2.4rem;
    position: relative;
    color: $gray3;
    border-right: 1px solid $gray4;
    padding-right: 8px;
    margin-right: 12px;
    min-width: 96px;
    text-align: center;
    font-weight: bold !important;
    display: flex;
    flex-direction: column;
    @media (min-width: 62em) {
      font-size: 2.6rem;
    }
  }
  .donate-currency {
    position: relative;
    font-weight: normal;
    color: $gray3;
    font-size: 10px;
    line-height: 1;
    text-align: left;
    left: 4px;
    @media (min-width: 62em) {
      font-size: 12px;
    }
  }
  .donate-unit {
    display: none;
    justify-self: flex-end;
    font-size: 10px;
    @media (min-width: 62em) {
      font-size: 12px;
    }
  }
  .donate-desc {
    flex: 1;
    font-size: 0.85rem;
    line-height: 1.7;
    color: $gray3;
  }
  .donate-other {
    font-size: 0.85rem;
    margin: 8px auto;
    text-align: center;
    text-decoration: underline;
    color: $gray3;
  }
  .secure-reminder {
    margin: 16px auto 8px;
    font-size: 0.75rem;
    text-align: center;
    color: $gray2;
  }

  /* Overwrite  */
  .form__handle .tab-menu li .selected {
    font-weight: 400 !important;
    box-shadow: inset 0 0 0 1px $gp-green;
  }
  .form__handle .tab-menu li {
    border: none !important;
    box-shadow: inset 0 0 0 1px $gray4;
  }
  .donate-btn-custom {
    font-weight: 400 !important;
    color: $white;
    margin: 20px 0;
    font-size: 1rem;
  }
}
